#fade
{
	margin-top:25px;
	text-align:center;
	animation:fadein 2s;
	-moz-animation:fadein 2s;
	-webkit-animation:fadein 2s;
	-o-animation:fadein 2s
}

@keyframes fadein {
	from
	{
		opacity:0
	}
	
	to
	{
		opacity:1
	}
}

@-moz-keyframes fadein {
	from
	{
		opacity:0
	}
	
	to
	{
		opacity:1
	}
}

@-webkit-keyframes fadein {
	from
	{
		opacity:0
	}
	
	to
	{
		opacity:1
	}
}

@-o-keyframes fadein {
	from
	{
		opacity:0
	}
	
	to
	{
		opacity:1
	}
}

.page {
    margin: 80px auto;
    max-width: 700px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 1px 1px 4px 1px #444;
    border-radius: 5px;
}


.desc
{
	font-size:30px;
	margin-top:4%;
	margin-bottom:4%;
	color:#ffb100
}

.button
{
	padding:10px 20px;
	color:#ffb100;
	text-decoration:none;
	border-radius:15px;
	border:1px solid #ffb100
}

.icon
{
	width:200px;
	height:200px;
	border:1px solid #ffb100;
	border-radius:40px
}

html, body {
	background-color: #e3e3e3;
    margin: 0px;
    height: 100%;
    width: 100%;
	font-family:'Open Sans',sans-serif
}

ul.links
{
	box-shadow: 0px 0px 4px 1px black;
	list-style-type:none;
	padding:0;
	overflow:hidden;
	background-color:#fff;
	position:fixed;
	width:100%;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;}

ul.links li
{
	float:left
}

ul.links li a
{
	display:block;
	color:#000;
	text-align:center;
	padding:14px 16px;
	text-decoration:none
}

ul.links li a:hover
{
	background-color:#fff
}

hr
{
	border:0;
	height:0;
	border-top:1px solid rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(255,255,255,0.3)
}

#team table {
	width: 100%;
	text-align: center;
}

#team table img {
	height: 80px;
	width: 80px;
	border-radius: 100%;
    box-shadow: 0px 0px 6px 2px #777;
    border: 2px solid #555;
}

#team table a {
	padding: 4px 12px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    border: 1px solid #888;
    min-width: 150px;
}

h1, h2 {
	padding: 5px;
}